body
{
    background: url(ZAMEK.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.login
{
    background-color: rgba(15, 14, 14, 0.8);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: max-content;
    text-align: center;
    display: flex;
    flex-direction: column;
}
h2
{
    color: rgb(0, 217, 255);
    font-weight: 800;
    font-size: xx-large;
}
input[type="text"]
{
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}
input[type="text"]::placeholder
{
    color: white;
    font-family:'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.parrafos
{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: medium;
    margin-bottom: 15px;
}
#signup
{
    color: rgb(0, 217, 255);
    cursor: pointer;
}
#forgot_password
{
    color: rgb(0, 217, 255);
    cursor: pointer;
}
#botton
{
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    font-weight: 700;
    font-size: large;
    cursor:pointer;
}